<div class="row">
	<div class="col-md-8 col-md-offset-4">
		<p>
			<strong>Email Address: </strong>
			<%= @email.address %>
		</p>

		<p>
			<strong>Password: </strong>
			<%= @email.password %>
		</p>
	</div>
</div>